<?php
namespace {{ namespace }}Controller\{{ controller }};

use Magento\Framework\App\Action\HttpGetActionInterface;
use Magento\Framework\View\Result\PageFactory;

class {{ action }} implements HttpGetActionInterface
{
    protected PageFactory $pageFactory;

	public function __construct(
		PageFactory $pageFactory
    ){
		$this->pageFactory = $pageFactory;
	}

	public function execute()
	{
		return $this->pageFactory->create();
	}
}