<?php
/** @var $block {{ namespace}}Block\{{ controller }}\{{ action}} */
/** @var $this Magento\Framework\View\TemplateEngine\Php\Interceptor */

?>
<h1>{{ frontname }} / {{ controller }} / {{ action }}</h1>
<p>Default Response</p>
<p>template: <?= __FILE__; ?></p>