<?php
namespace {{ namespace }}Controller\{{ controller }};

use Magento\Framework\App\Action\HttpGetActionInterface;
use Magento\Framework\App\Action\Action;

class {{ action }} implements HttpGetActionInterface
{
	public function execute()
	{
        die('debug');
	}
}