<?php
namespace {{ namespace }}Controller\{{ controller }};

use Magento\Framework\App\Action\HttpPostActionInterface;
use Magento\Framework\App\Action\Action;

class {{ action }} implements HttpPostActionInterface
{
	public function execute()
	{
        die('debug');
	}
}