<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="performance_monitoring" frontName="performance_monitoring">
            <module name="MDOQ_SitePerformanceMonitoring" />
        </route>

        <route id="mdoq_siteperformancemonitoring" frontName="mdoq_siteperformancemonitoring">
            <module name="MDOQ_SitePerformanceMonitoring" />
        </route>
    </router>
</config>