<?xml version="1.0"?>
<!-- https://developer.adobe.com/commerce/php/development/components/declarative-schema/configuration/ -->
<schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Setup/Declaration/Schema/etc/schema.xsd">

</schema>